<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ jursidiction }} Crimes and Clearances</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
    <style>
        .ucr-tooltip {
            padding: 10px;
        }

        .ucr-details span {
            font-size: 1.4em;
        }

    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                  crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
        <script type="text/javascript">

           let crimeType = "{{ crime }}";
            crimeType = crimeType.replace("_", " ");
            if (crimeType in ["violent", "property"]){
                crimeType += " crimes"
            }
            if (crimeType == 'gta'){
                crimeType = 'vehicle theft'
            }

            const plural = {
                "violent": "violent crimes",
                "property": "property crimes",
                "homicide": "homicides",
                "rape": "rapes",
                "robbery": "robberies",
                "aggravated assault": "aggravated assaults",
                "burglary": "burglaries",
                "larceny": "larcenies",
                "vehicle theft": "vehicle thefts"
            };

          //noinspection JSUnresolvedVariable
            google.charts.load('current', {'packages':['corechart']});

          {% if clearance_chart %}
              google.charts.setOnLoadCallback(clearanceChart);

          function clearanceChart() {
              var data = new google.visualization.DataTable();
                    data.addColumn('string', 'YEAR');
                    data.addColumn('number', "{{ jurisdiction | safe }} CLEARANCE RATE");
                    data.addColumn({'type': 'string', 'role': 'tooltip', 'p': {'html': true}});
                    data.addColumn('number', 'U.S. AVERAGE CLEARANCE RATE');
                    data.addRows([
                            {% for year in crime_stats %}
                                {% if year.clearance_rate != None %}
                                ["{{ year.year }}", {{ year.clearance_rate }}, "<div class='ucr-tooltip'><h3>{{ year.year }}: <small>" + plural[crimeType].toUpperCase() + "</small></h3><p class='ucr-details'><strong>INCIDENTS:</strong> <span>{{ year.incidents }}</span><br/><strong>CLEARANCES:</strong><span> {{ year.clearances }}</span><br/><strong>CLEARANCE RATE:</strong><span> {{ year.clearance_rate }}</span></p></div> ",{{ year.group_clearance_rate }}] {% if not forloop.last %}, {% endif %}
                                {% endif %}
                            {% endfor %}
                        ]);

              var options = {
                      title: 'CLEARANCE RATE: PERCENTAGE OF ' + plural[crimeType].toUpperCase()  + ' CLEARED',
                      legend: { position: 'bottom' },
                      hAxis: {
                          gridlines: {count: {{ crime_stats | length }} }
                      },
                      vAxis: {format: '##%'},
                      pointSize: 6,
                      tooltip: {isHtml: true}
              };
            var chart = new google.visualization.LineChart(document.getElementById('clearance_chart'));
            chart.draw(data, options);
	
	 }
          {% endif %}

          {% if rate_chart %}

              google.charts.setOnLoadCallback(rateChart);

        function rateChart(){
            var data = new google.visualization.DataTable();
                data.addColumn("string", "YEAR");
                data.addColumn("number", "{{ jurisdiction | safe }} " + crimeType.toUpperCase() + " RATE");
                data.addColumn({'type': 'string', 'role': 'tooltip', 'p': {'html': true}});
                data.addColumn("number", 'U.S. AVERAGE ' + crimeType.toUpperCase() + ' RATE');

                data.addRows([
                        {% for year in crime_stats %}
                            {% if year.crime_rate != None %}
                                ["{{ year.year }}", {{ year.crime_rate }},
                                    "<div class='ucr-tooltip'> <h3>{{ year.year }}: <small>" + plural[crimeType].toUpperCase() + " </small></h3><p class='ucr-details'><strong>INCIDENTS REPORTED:&nbsp</strong><span>{{ year.incidents }} </span><br/><strong>RATE: </strong><span>{{ year.crime_rate }}</span> per 100,000 residents</p></div>",
                                    {{ year.group_rate }}] {% if not forloop.last %}, {% endif %}
                            {% endif %}
                        {% endfor %}
                    ]);

            var options = {
                title: 'CRIME RATE: NUMBER OF ' + plural[crimeType].toUpperCase() + ' PER 100,000 RESIDENTS',
                legend: { position: 'bottom' },
                tooltip: {isHtml: true}
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('rate_chart'));
            chart.draw(data, options);
        }
	
          {% endif %}
 </script>
</head>
<body>
<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'ucr:base' %}">HOME</a>
        </li>
        <li>
            <a href="{% url 'ucr:department_select' county %}">{{ county }} COUNTY</a>
        </li>
            <li class="active">{{ jurisdiction }}</li>

    </ol>
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ jurisdiction }}</h2>
        </div>
    </div>
    <div class="row">
      	<div class="col-sm-6 well">
		<p>Select which type of crime to display details for</p>	    
	<div class="col-sm-6">	
	   <form>
                <div class="form-group">
               	<select id="crime-type-select" class="form-control">
                        <option value="violent" {% if crime == 'violent' %}selected{% endif %}>Violent Crime</option>
                        <option value="property" {% if crime == 'property' %}selected{% endif %}>Property Crime</option>
                        <option value="homicide" {% if crime == 'homicide' %}selected{% endif %}>Homicide</option>
                        <option value="rape" {% if crime == 'rape' %}selected{% endif %}>Rape</option>
                        <option value="robbery" {% if crime == 'robbery' %}selected{% endif %}>Robbery</option>
                        <option value="aggravated_assault" {% if crime == 'aggravated_assault' %}selected{% endif %}>Aggravated Assault</option>
                        <option value="burglary" {% if crime == 'burglary' %}selected{% endif %}>Burglary</option>
                        <option value="larceny" {% if crime == 'larceny' %}selected{% endif %}>Larceny</option>
                        <option value="gta" {% if crime == 'vehicle theft' %}selected{% endif %}>Vehicle Theft</option>
                    </select>
                </div>
            </form>
        </div>
            <div class="col-sm-6">
                <button id="getCrimeStats" type="button" class="btn btn-primary btn-block">GO</button>
            </div>
	</div>    

	<div class="col-sm-6">
		<p>Crime rates are calculated as number of incidents per 100,000 people. This display allows for a look at rates over a ten-year period for the seven "index" crimes tracked by the FBI, plus composite measures tracking all violent crimes and all property crimes.</p>
		<p>A case is considerd 'cleared' when police make an arrest or have enough evidence to make one but are prevented from doing so because of something outside the department's control.</p>
	</div>
    </div>        

    <div class="row">

                <div class="col-md-12">
                    {% if clearance_chart == False %}
                        <p><b>No clearance rate data avaiable for {{ jurisdiction }}</b></p>
                    {% endif %}
                    {% if clearance_chart == True %}
                        <div id="rate_chart" style="width:100%;height:250px;"></div>
                    {% endif %}
                </div>

                <div class="col-md-12">


                    {% if rate_chart == False %}
                        <p><b>No crime rate data available for {{ jurisdiction }}</b></p>
                    {% endif %}
                    {% if rate_chart == True %}
                        <div id="clearance_chart" style="width:100%;height:250px;"></div>
                    {% endif %}
                </div>
    </div>


    <div class="row">
        <div class="center-block col-md-8 col-md-offset-2"><h4>Sources: All the data displayed was filed by the agencies themselves as part of the FBI's Uniform Crime Reporting program.</h4></div>
	<div class="well col-md-8 col-md-offset-2">
            <h3>The Fine Print</h3>
            <p>
                <small>
                    AVERAGE RATE: Average crime and clearances rates are for jurisdictions of similar population size as defined by the FBI.  There are a total of seven categories ranging from group 1, for jurisdictions with 250,000+ population to group 7, for jurisdictions with 10,000 or fewer people.
		</small>
            </p>
            <p>
                <small>
                    CLEARANCES: According to the FBI, A crime is cleared either when an arrest (not necessarily a conviction) is made or when the perpetrator has been identified and law enforcement has enough evidence to prosecute but some circumstance outside the agency's control prevents prosecution.  Examples of this include if the perpetrator is dead, witnesses refuse to cooperate with prosecution, or if the offender is jailed in some other jurisdiction and not extradited.
                </small>
            </p>
            <p>
                <small>
                    WHY IS THERE A CLEARANCE RATE ABOVE 100%? Clearances are recorded based on the year of the <em>clearance</em> not necessarily the year of the crime. So if a crime occurs in December and an arrest is made in January, the clearance is recorded for the second year.
		</small>
            </p>
            <p>
	

	</div>
    </div>
</div>
</body>

<script>
	var pymChild = new pym.Child({ id:'crimesandclearances' });      
    $(function(){
        $("#getCrimeStats").click(function(){
            let indexCrime, currentURL, newURL;
            currentURL = window.location.href;
            currentURL = currentURL.split('/');
            indexCrime = $('#crime-type-select').val();
            currentURL[currentURL.length - 2] = indexCrime;
            newURL = currentURL.join('/');
            window.location.href = newURL;
        })
    });

</script>



</html>
