<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>

        span.placeholder {
            display: block;
            min-width: 15px;
            max-width: 4em;
            height: 1em;
            background-color: #bebebe;
        }


        .ucr-tooltip {
            padding: 10px;
        }

        .ucr-details span {
            font-size: 1.4em;
        }



    </style>


</head>
<body>
<div class="container">
<ol class="breadcrumb">
        <li>
            <a href="{% url 'ucr:base' %}">HOME</a>
        </li>
        <li>
            <a href="{% url 'ucr:department_select' county %}">{{ county }} COUNTY</a>
        </li>
            <li class="active">{{ jurisdiction }}</li>

</ol>


<div class="row">
    <div class="col-md-4">
        <div id="homicideChart"></div>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div id="rapeChart"></div>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div id="robChart"></div>
    </div>

</div>



<h1>{{ jurisdiction }} - {{ year }}</h1>
<div class="row">
    {% for crime in incidents %}
    <div class="col-md-6 col-sm-12">

            <h3>{{ crime.6|upper }}</h3>
            <div class="well">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>REPORTED</th>
                        <th>{{ jurisdiction|upper }}</th>
                        <th>U.S. AVERAGE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>INCIDENTS</td>
                        <td>{{ crime.0  }}</td>
                        <td><span class="placeholder"></span></td>
                    </tr>
                    {% if crime.1 <= crime.7.0 %}
                        <tr class="success">
                    {% elif crime.1 >= crime.7.1 and crime.1 < crime.7.2 %}
                        <tr class="warning">
                    {% elif crime.1 >= crime.7.2 %}
                        <tr class="danger">
                    {% endif %}
                        <td>CRIME RATE<br/><small>PER 100,000 PEOPLE</small></td>
                        <td>
                            {{ crime.1}}
                        </td>
                        <td>{{ crime.2 }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-condensed">

                <thead>
                    <tr>
                        <th>CLEARED</th>
                        <th>{{ jurisdiction|upper }}</th>
                        <th>U.S. AVERAGE</th>
                    </tr>

                </thead>
                    <tr>
                        <td>CASES CLEARED</td>
                        <td>{{ crime.3 }}</td>
                        <td><span class="placeholder"></span></td>
                    </tr>
                    {% if crime.4 >= crime.8.2 %}
                        <tr class="success">
                    {% elif crime.4 < crime.8.1 and crime.4 >= crime.8.0 %}
                        <tr class="warning">
                    {% elif crime.4 <= crime.8.0 %}
                        <tr class="danger">
                    {% endif %}
                        <td>CLEARANCE RATE</td>
                        <td>{{ crime.4 }}%</td>
                        <td>{{ crime.5 }}%</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    {% endfor %}
</div>
</div>



</body>
</html>